.yourpastes {
    background-color: #FBF8F8; /* Alterando a cor de fundo */
    height: 62vh; /* Aumentando a altura para 30vh */                                                                                                   
}

input::placeholder {
    color: black;
}